@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Monoton&family=Nanum+Pen+Script&family=Noto+Sans+Symbols+2&family=Oswald:wght@200..700&family=Protest+Revolution&family=Rubik+Bubbles&display=swap');
:root{
    --india-green: #398C06;
    --moonstone: #58A4B0;
    --turquise: #19E0C9;
    --deflt-blue:#363A59;
    --light-green: #A2FAA3;
}
*{
    margin: 0;
    padding: 0;
}
.start-container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top right, var(--deflt-blue), var(--moonstone), var(--deflt-blue));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.start,.how-to-play,.credits,.back-button{
    width: 50vmin;
    height: 10vmin;
    margin: 5vmin;
    background:var(--turquise);
    font-size:7vmin ;
    color: #363A59;
    border-radius: 20vmin;
    transition: 5.5s ease;
    font-family:protest revolution;
}
.title{
    color: var(--deflt-blue);
    font-size: 10vmin;
    text-align: center;
    font-family: protest revolution;

}
.start:hover,.how-to-play:hover,.credits:hover, .back-button:hover{
    scale: 1.5;
    transform: rotate(60deg);

}
.credit{
    font-size: 3vmin;
    margin: 1vmin;
    font-size: protest revolution;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(to top right, var(--deflt-blue), var(--moonstone), var(--deflt-blue));
    justify-content: space-around;
}
.image-container{
width: 60vmin;
height: 60vmin;
border:solid black 1px;
border-radius: 10%;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
}

.make-text{
    font-family: protest revolution;
}
.user-input{
    width: 20vmin;
    height: 20vmin;
    padding: 0.5vmin;
    background-color: whitesmoke;
    border: none;
    border-radius: 1vmin;
    font-size: 3vmin;
    font-family: protest revolution;
}
.submit,.next,.check{
width: 12vmin;
height: 4vmin;
font-size: 2vmin;
border: none;
border-radius: 0.5vmin;
}
.submit:hover,.next:hover,.check:hover{
    filter: brightness(90%);
    cursor: pointer;
    scale: 1.05;
}
.generated-image{
    width: 100%;
    height: 100%;
    border-radius: 2vmin;
}
.instruction-container{
    width: 60vmin;
    height: 60vmin;
    border: solid black 1px;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
}
.instruction{
    font-size: 4vmin;
    text-align: center;
    font-family: protest revolution;
}
.instruction-word{
    font-family: protest revolution;
    font-size: 5vmin;
}
.instruction-button{
    width: fit-content;
    padding: 0.5vmin;
    height: 4vmin;
    font-size: 2vmin;
    border: solid black 1px;
    border-radius: 0.5vmin;
    background-color: aliceblue;
}